.card {
    border: 2px solid #303030;
    max-width: 378px;
    width: 100%;
    height: 560px;
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    padding: 20px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        background: #FFEEFD;
        .mark_bg {fill: $Pink;}
        .button {@include hoverBtn}
    }
}
.card__title {
    
font-family: MartianMono;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.card__text {

font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}
.mark {
    position: absolute;
    top: -2%;
    right: 1%;
}
.mark_bg {
    fill: $LightPink;
}
@media screen and (max-width: 340px) {
    .card {
        .button {
            font-size: 20px;
        }
    }
   }